.submit-attendance {
  height: 100px;
  width: 200px;
  font-size: 40px;
}

div.alert-absolute {
  position: absolute;
  right: 2px;
  top: 52px;
  z-index: 10;
}

.content-wrapper {
  margin-left: 0px;
}

.main-footer {
  margin-left: 0px;
}

.navbar-nav > .user-menu > .dropdown-menu {
  width: 100px;
}

.skin-blue .main-header .navbar .dropdown-menu li a {
  color: black;
}
