@import "bootstrap-sprockets";
@import "bootstrap";

input {
  margin-bottom: 5px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#login_remember_me {
  width: auto;
  margin-left: 0;
}

li.full_name {
  padding: 15px;
  color: white;
}
